<div>
    <p-table [value]="salas">
        <ng-template pTemplate="caption">
            <div class="flex align-items-center justify-content-between">
                <p-button label="Crear sala" (click)="ver_formulario=true"></p-button>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th>Nombre</th>
                <th>Ciudad</th>
                <th></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-sala>
            <tr>
                <td>{{sala.nombre}}</td>
                <td>{{sala.ciudad}}</td>
                <td><p-button label="Editar" (click)="llenar_form(sala); ver_formulario=true;"></p-button></td>
            </tr>
        </ng-template>
    </p-table>
</div>
<p-dialog header="Formulario sala" [(visible)]="ver_formulario">
    <form [formGroup]="form_sala">
        <div class="grid p-fluid">
            <div class="col-12 md:col-4">
                <input type="text" formControlName="nombre" pInputText placeholder="Nombre">
            </div>
            <div class="col-12 md:col-4">
                <select formControlName="ciudad" pInputText>
                    <option value="Bogotá">Bogotá</option>
                    <option value="Medellín">Medellín</option>
                </select>
            </div>
        </div>
    </form>
    <p-button label="Guardar" (click)="crear_actualizar()"></p-button>
</p-dialog>